<p-panel header="Profile">
  <div *ngIf="editedField !== 'name'">
    <div class="row mb-3">
      <div class="col-sm-3"><strong>Firstname</strong></div>
      <div class="col-sm-7">{{ profile.firstname }}</div>
      <div class="col-sm-2 text-right">
        <button pButton type="button" icon="fa-pencil" class="ui-button-secondary" (click)="toggleEdit('name')"></button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3"><strong>Lastname</strong></div>
      <div class="col-sm-9">{{ profile.lastname }}</div>
    </div>
  </div>
  <app-profile-name *ngIf="editedField === 'name'"
    [defaultFirstname]="profile.firstname"
    [defaultLastname]="profile.lastname"
    (submitForm)="submitName($event)"
    (cancelForm)="resetEdit()">
  </app-profile-name>
  <hr/>

  <div *ngIf="editedField !== 'address'">
    <div class="row mb-3">
      <div class="col-sm-3"><strong>Address</strong></div>
      <div class="col-sm-7">{{ profile.address }}</div>
      <div class="col-sm-2 text-right">
        <button pButton type="button" icon="fa-pencil" class="ui-button-secondary" (click)="toggleEdit('address')"></button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3"><strong>Postal code</strong></div>
      <div class="col-sm-9">{{ profile.postalcode }}</div>
    </div>
  </div>
  <app-profile-address *ngIf="editedField === 'address'"
    [defaultAddress]="profile.address"
    [defaultPostalcode]="profile.postalcode"
    (submitForm)="submitName($event)"
    (cancelForm)="resetEdit()">
  </app-profile-address>
  <hr/>

  <div *ngIf="editedField !== 'number'">
    <div class="row mb-3">
      <div class="col-sm-3"><strong>Home number</strong></div>
      <div class="col-sm-7">{{ profile.homeNumber }}</div>
      <div class="col-sm-2 text-right">
        <button pButton type="button" icon="fa-pencil" class="ui-button-secondary" (click)="toggleEdit('number')"></button>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-3"><strong>Mobile number</strong></div>
      <div class="col-sm-9">{{ profile.mobileNumber }}</div>
    </div>
  </div>
  <app-profile-number *ngIf="editedField === 'number'"
    [defaultHomeNumber]="profile.homeNumber"
    [defaultMobileNumber]="profile.mobileNumber"
    (submitForm)="submitName($event)"
    (cancelForm)="resetEdit()">
  </app-profile-number>
</p-panel>
